<!DOCTYPE html>
<html lang="en" ng-app="happyCustomerApp" >

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Happy Customer</title>
<link rel="shortcut icon" href="../img/profile.ico" type="image/x-icon">

<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="../css/happycutomer.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css">


<script src="/CRM/js/angular.min.js"></script>
<script src="/CRM/index.js"></script>
<script src="/CRM/happyCustomer.js"></script>
</head>

<body id="page-top" >

	<!-- Navigation -->
	<topo></topo>

	
	
	
	
	
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-text">
						<span class="name">Criar Tipo de Contato</span>
					</div>
				</div>
			</div>
		</div>
	</header>
<script>

var app = angular. module('happyCustomerApp', []);
	app.controller('HttpGetController', function($scope, 
			$http) {
		$scope.BuscarInformacao = function() {
			$http.get('http://localhost:8080/CRM/rest/restTipoContato/listarTodos')
			.success(function(data) {
				$scope.tipoContato = data["tipoContato"];
			});
		};
	
		$scope.BuscarInformacao();
	});
	app.controller("HttpPostController", function($scope,
			$http) {

		$scope.EnviarInformacao = function() {

			var parameter = JSON.stringify({
				type : "tipoContato",
				id : $scope.tipoContato.id,
				nome : $scope.tipoContato.nome
			});

			var config = {
				headers : {
					'Content-Type' : 'application/json;charset=utf-8;'
				}
			}

			$http.post(
					'http://localhost:8080/CRM/rest/restTipoContato/Salvar',
					parameter, config).success(
					function(data, status, headers, config) {
						$scope.Resposta = 'Tipo Contato Salvo com Sucesso!';
						
						
					}).error(
					function(data, status, header, config) {
						$scope.Resposta = "Data: " + data + "<hr />status: "
								+ status + "<hr />headers: " + header
								+ "<hr />config: " + config;
					});
		};

	});
</script>
		
	<section class="grid form_tipo_ontato" ng-controller="HttpPostController">
		<div class="container">
			{{ Resposta }}
			<h3>Informações do Tipo de Contato</h3>
			<table>

				<tr> 
					<td>id</td>
					<td><input type="text" name="id"  ng-model="tipoContato.id"></td>
				</tr>

				<tr>
					<td>Nome</td>
					<td><input type="text" name="nome"  ng-model="tipoContato.nome"></td>					
				</tr>

				<tr>
					<td><input type="button" value="salvar" ng-click="EnviarInformacao()"></td>					
					
				</tr>
			 </table>
			
		</div>
	</section>			
	
	<section class="grid form_tipo_ontato" ng-controller="HttpGetController">
		<div class="container">
			<button id="botao" ng-click="BuscarInformacao()">Buscar</button>
			<table>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th><a href="#">Adicionar</a><th>
				</tr>
				<tr ng-repeat="tp in tipoContato">
					<td>{{tp.id}}</td>
					<td>{{tp.nome}}</td>
					<td>
						<a href="#" ng-click='del(tp.id)'>Excluir</a>
						<a href="#" ng-click='selectEdit(tp.id)'>Editar</a>
					</td>
				</tr>
				
			</table>
			</div>
		</section>			


	<!-- Portfolio Grid Section -->
	<section class="grid form_tipo_ontato">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
					<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
					<form name="sentMessage" id="contactForm" novalidate>
						<div class="row control-group">
							<div
								class="form-group col-sm-6 col-xs-12 floating-label-form-group controls">
								<label>Nome</label> <input type="text" class="form-control"
									placeholder="Nome" id="nome" required
									data-validation-required-message="Por favor insira um nome">
								<p class="help-block text-danger"></p>
							</div>


						</div>



						<div id="success"></div>
						<div class="row">
							<div class="form-group btn-group col-xs-12">

								<a class="btn btn-danger btn-lg to-left"
									href="/CRM/tipo_contato/tipo_contato.html">Voltar</a>
								<button type="submit" class="btn btn-success btn-lg to-right">Salvar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div
		class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
		<a class="btn btn-primary" href="#page-top"> <i
			class="fa fa-chevron-up"></i>
		</a>
	</div>


	<!-- Footer -->
	<rodape></rodape>

</body>
<!-- jQuery -->
<script src="/CRM/vendor/jquery/jquery.min.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="/CRM//vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/CRM/js/jqBootstrapValidation.js"></script>
<script src="/CRM/js/contact_me.js"></script>
<script src="/CRM/js/freelancer.min.js"></script>
</html>
