<meta charset="UTF-8">
<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-text">
						<span class="name">{{Titulo}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Portfolio Grid Section -->
	<section class="grid form_atividade" ng-controller="AtividadeController">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
					<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
					
					<form name="sentMessage" id="contactForm" novalidate>
						<div class="row control-group">
							
							<div class="row control-group">
							
							<h3>Dados Gerais</h3>
						
							<div
								class="form-group col-xs-12 floating-label-form-group controls">
								<label>Nome</label> 
								<input type="text" ng-model="atividade.nome" class="form-control"
									placeholder="Nome" id="nome" required
									data-validation-required-message="Por favor insira um nome">
								<p class="help-block text-danger"></p>
							</div>

							</div>

						
						
						<div class="row control-group">
							
						<div 
							class="form-group col-xs-6 floating-label-form-group controls">
							<label>Usuário Responsável</label>
							<select class="form-control" required data-validation-required-message="Por favor selecione um contato"
						    ng-options="usuario.nome for usuario in usuarios" ng-model="atividade.usuarioresponsavel" >    
							    <option value="">Usuário Responsável</option>
							</select>											

							<p class="help-block text-danger"></p>
							
						</div>
						
						<div
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Tipo de Atividade</label> 								
								<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de contato"
									    ng-options="tipoatividade.nome for tipoatividade in tiposatividade track by tipoatividade.id" ng-model="atividade.tipoatividade" >    
									    <option value="">Tipo de Atividade</option>
									</select>	

								<p class="help-block text-danger"></p>

							</div>
						
							
						</div>

						<div class="row control-group">
						
						<div
						
							class="form-group col-xs-6 floating-label-form-group controls">
							<label>Contato</label>
							<select class="form-control" required data-validation-required-message="Por favor selecione um contato"
						    ng-options="contato.nome for contato in contatos" ng-model="atividade.contato" >    
							    <option value="">Contato</option>
							</select>											

							<p class="help-block text-danger"></p>
							
						</div>
						
						<div 
							class="form-group col-xs-6 floating-label-form-group controls">
							<label>Empresa</label>
							<select class="form-control" required data-validation-required-message="Por favor selecione uma empresa"
						    ng-options="empresa.razaosocial for empresa in empresas" ng-model="atividade.empresa" >    
							    <option value="">Empresa</option>
							</select>			
								
								<p class="help-block text-danger"></p>
						</div>

						</div>

						<div class="row control-group">

							<div 
								class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
								<label>Data de Cadastro</label> 
								<input type="date" class="form-control" placeholder="Data de Cadastro" ng-model="atividade.datacadastro" id="data_cadastro" required data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

							<div 
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Situação</label> 
			      				<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de usuário"
							    ng-options="situacao for situacao in situacoes" ng-model="atividade.situacao" >    
								    <option value="">Situação</option>
								</select>	
							 	<p class="help-block text-danger"></p>
							</div>
						</div>

						<div class="row control-group">

							<div
								class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
								<label>Data Inicio</label> <input type="date"
									class="form-control" placeholder="data_inicio" id="data_inicio"
									required
									data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>
							<div
								class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
								<label>Data Fim</label> <input type="date"
									class="form-control" placeholder="data_fim" id="data_fim"
									required
									data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

						</div>

						<div class="row control-group">

							<div
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Descriçao</label>
								<textarea type="text" class="form-control" ng-model="atividade.descricao"
									placeholder="Descricao" id="Descricao" required
									data-validation-required-message="Por favor insira um nome"></textarea>
								<p class="help-block text-danger"></p>
							</div>


						</div>

						</div>


						<div class="row control-group">
							<h3>Ligação</h3>


							<div class="row control-group">

								<div class="form-group col-xs-6  floating-label-form-group controls">
									<label>Telefone</label> 
				      				<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de ligação"
								    ng-options="telefone.numero for telefone in telefones" ng-model="ligacao.telefone" >   
									    <option value="">Telefone</option>
									</select>
		
								 	<p class="help-block text-danger"></p>
								</div>
		
								<div class="form-group col-xs-6  floating-label-form-group controls">
									<label>Tipo de Ligação</label> 
				      				<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de ligação"
								    ng-options="tipoligacao for tipoligacao in tiposligacao" ng-model="ligacao.tipoligacao" >    
									    <option value="">Tipo de Ligação</option>
									</select>	
		
								 	<p class="help-block text-danger"></p>
								</div>	
								
							</div>	
							
							<div class="row control-group">					
								
								<div
									class="form-group col-xs-6 floating-label-form-group controls">
									<label>Duração</label> <input type="text" class="form-control"
										placeholder="Duração" id="Duracao" required
										data-validation-required-message="Por favor insira um nome" ng-model="ligacao.duracao">
									<p class="help-block text-danger"></p>
								</div>
								
								<div class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
									<label>Data</label> 
									<input type="date" class="form-control" placeholder="Data de Cadastro" ng-model="ligacao.data" min="1901-01-01" max="2016-12-31"id="data_cadastro" required data-validation-required-message="Please enter your name.">
									<p class="help-block text-danger"></p>
								</div>
								
							</div>
							
							<div class="row control-group">
		
								<div
									class="form-group  col-xs-12 floating-label-form-group controls">
									<label>Resumo</label>
									<textarea type="text" class="form-control"
										placeholder="Resumo" id="Descricao" required
										data-validation-required-message="Por favor insira um resumo"  ng-model="ligacao.resumo"></textarea>
									<p class="help-block text-danger"></p>
								</div>
								
								<div class="col-xs-6  btn-group">
									<a class="btn btn-success btn-sm" href="javascript:void(0)">Salvar Ligação</a>
								</div>
							</div>


						</div>

						<div class="row ">
							<h3>Ligações da Ativdade</h3>
							<div class="table-scrollable table-scrollable-borderless">
								<table class="table table-hover table-light col-xs-12">
									<thead>
										<tr class="uppercase">
											<th>ID</th>
											<th>Tipo Numero</th>
											<th>Número</th>
											<th>Duração</th>

											<th></th>

										</tr>
									</thead>
									<tbody>
										<tr>

											<td>1</td>
											<td>Telefone</td>
											<td>+55 (041) 9999-9999</td>
											<td>00:20:21</td>

											<td class="btn-group"><a class="btn btn-success  btn-sm"
												target="_blank" href="/CRM//ligacao/editar_ligacao.html">ver</a>
												<a class="btn btn-danger btn-sm" href="javascript:void(0)">remover</a></td>
										</tr>
										<tr>

											<td>2</td>
											<td>Whatsapp</td>
											<td>+55 (041) 9999-9999</td>
											<td>00:20:21</td>
											<td class="btn-group"><a class="btn btn-success  btn-sm"
												target="_blank" href="/CRM//ligacao/editar_ligacao.html">ver</a>
												<a class="btn btn-danger btn-sm" href="javascript:void(0)">remover</a></td>

										</tr>
										<tr>

											<td>3</td>
											<td>Telefone</td>
											<td>+55 (041) 9999-9999</td>
											<td>00:20:21</td>
											<td class="btn-group"><a class="btn btn-success btn-sm"
												target="_blank" href="/CRM//ligacao/editar_ligacao.html">ver</a>
												<a class="btn btn-danger btn-sm" href="javascript:void(0)">remover</a></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>





						<div class="row control-group">
							<h3>Comunicador</h3>


							<div class="col-xs-12 ">
								<div class="col-xs-10">


									<div
										class="form-group col-sm-4 col-xs-12 floating-label-form-group controls  floating-label-form-group-with-value">
										<label>Tipo Comunicador</label> <select id="tipo_usuario"
											class="form-control" required
											data-validation-required-message="Por favor selecione um tipo de usuário">
											<option value="default">Tipo Comunicador</option>
											<option value="whats">1 - WhatsApp</option>
											<option value="volvo">2 - Facebook</option>
											<option value="saab">3 - E-mail</option>
										</select>
										<p class="help-block text-danger"></p>
									</div>

									<div
										class="form-group col-sm-4 col-xs-12 floating-label-form-group controls  floating-label-form-group-with-value">
										<label>Descrição</label> <input type="text"
											class="form-control" placeholder="Descrição"
											id="Nome do contato" required
											data-validation-required-message="Por favor insira um nome">
										<p class="help-block text-danger"></p>
									</div>
									<div
										class="form-group col-sm-4 col-xs-12 floating-label-form-group controls  floating-label-form-group-with-value">
										<label>Resumo</label> <input type="text" class="form-control"
											placeholder="Resumo" id="Nome do contato" required
											data-validation-required-message="Por favor insira um nome">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-xs-2 btn-group">
									<a class="btn btn-success btn-sm" href="javascript:void(0)">+</a>

								</div>


							</div>
						</div>


						<div class="row ">
							<h3>Comunicadores da Atividade</h3>
							<div class="table-scrollable table-scrollable-borderless">
								<table class="table table-hover table-light col-xs-12">
									<thead>
										<tr class="uppercase">
											<th>ID</th>
											<th>Tipo</th>
											<th>Descrição</th>
											<th>Resumo</th>

											<th></th>

										</tr>
									</thead>
									<tbody>
										<tr>

											<td>1</td>
											<td>Facebook</td>
											<td>www.facebook.com/jose</td>
											<td>alterar cor do produto</td>
											<td class="btn-group"><a class="btn btn-danger btn-sm"
												href="javascript:void(0)">remover</a></td>
										</tr>
										</tr>
										<tr>

											<td>2</td>
											<td>Whatsapp</td>
											<td>+55 (041) 9999-9999</td>
											<td>alterar cor do produto</td>
											<td class="btn-group"><a class="btn btn-danger btn-sm"
												href="javascript:void(0)">remover</a></td>
										</tr>

										</tr>
										<tr>

											<td>3</td>
											<td>Telefone</td>
											<td>+55 (041) 9999-9999</td>
											<td>alterar cor do produto</td>
											<td class="btn-group"><a class="btn btn-danger btn-sm"
												href="javascript:void(0)">remover</a></td>
										</tr>
										</tr>
									</tbody>
								</table>
							</div>

						</div>



					{{Resposta}}
					<div id="success"></div>
					<div class="row">
						<div class="form-group btn-group col-xs-12">
							<a class="btn btn-danger btn-lg to-left" href="#/Atividade">Voltar</a>
							<a class="btn btn-success btn-lg to-right" ng-click='EnviarInformacao()'>Salvar</a>		
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</section>